.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fundo-rodape);
    height: 11.5rem;
    min-width: 360px;
    width: 100vw;
}

.rodape__texto {
    color: var(--fonte-rodape);
    margin: 0;
    text-align: center;
}