.principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--fonte-principal);
    margin: 3.5rem 0 5rem 0;
    text-align: center;
    min-width: 360px;
}

.principal__titulo {
    color: var(--fonte-principal);
    margin: 1.5rem 0 0 0;
    text-align: center;
    width: 15rem;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--fundo-secundario);
    border-radius: 6px;
    margin-top: 3rem;
    width: 85%;
    max-width: 54rem;
    padding: 2rem 0;
}

.formulario__label {
    color: var(--fonte-principal);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: start;
    width: calc(100% - 2rem);
}

.formulario__foto {
    background: url("/imagens/Usuário.svg") center / cover no-repeat, var(--fundo-principal);
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
}

.formulario__foto__arquivo {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    width: 100%;
}

.formulario__instrucao-foto {
    color: var(--fonte-terciaria);
    font-size: 0.75rem;
    margin: 0.25rem 0 0.5rem 0;
}

.formulario__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: calc(100% - 2rem);
}


.formulario__input {
    background-color: var(--fundo-principal);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    font-size: 0.9rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    width: 100%;
}

.formulario__input::placeholder {
    color: var(--fonte-placeholder);
}

.formulario__input:focus {
    border: 1px solid var(--ativo);
    outline: none;
}

.formulario__input--invalido {
    border: 1px solid var(--erro);
}

.formulario__textarea {
    height: 10.75rem;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 100%;
}

.formulario__botao {
    background-color: var(--fundo-botao-principal);
    border: none;
    border-radius: 6px;
    color: var(--fonte-botao-principal);
    line-height: 3rem;
    width: 12rem;
}

.formulario__botao:hover {
    background-color: var(--fundo-botao-hover);
    cursor: pointer;
    transition: all 0.5s
}

.formulario__erro {
    color: var(--erro);
}
