@media screen and (min-width: 768px) {

    .fundo-superior {
        height: 27.175rem;
        width: 35rem;
    }

    .fundo-patas {
        height: 23.375rem;
        width: 18.25rem;
    }

    .fundo-meio {
        align-self: end;
        background: url("/imagens/Forma\ 2.svg") center left / 100% 100% no-repeat;
        height: 41.5rem;
        top: 16.75rem;
        width: 8.375rem;
    }

    .cabecalho {
        padding-top: 2.5rem;
    }

    .menu {
        width: 25rem;
    }

    .menu__logo {
        display: initial;
    }

    .cabecalho__perfil {
        margin-right: 3rem;
    }

    .principal {
        margin-top: 10rem;
    }

    .principal__titulo {
        font-size: 1.125rem;
        width: 25.875rem;
    }

    .formulario {
        padding: 2rem 1rem;
    }
    .formulario__input {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .principal {
        margin-top: 2rem;
    }

    .fundo-meio {
        top: 11.25rem;
    }

    .principal__logo {
        height: 4rem;
    }

    .principal__titulo {
        width: 30.5rem;
    }

    .principal__ilustracao {
        height: 26.95rem;
    }

    .rodape {
        height: 5rem;
    }
}